.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

td {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid black;
    font-size: 100px;
}

th {
    text-align: center;
}

td.scores {
    height: inherit;
    width: inherit;
    font-size: inherit;
}

button#b {
    margin-top: 30px;
    float: right;
}